<div class="layout layout--col gap--small">
  <div class="columns" data-overflow-max-cols="1">
    <div class="column">
      {% for article in data %}
    {% render 'article_item',
      title: article.title,
      title_size: 'title--small',
      title_clamp: '1',
      description: article.description,
      description_clamp: '3',
      show_description: true,
      cover_image: article.cover_image,
      show_image: trmnl.plugin_settings.custom_fields_values.show_thumbnail,
      tags: article.tags,
      max_tags: 5,
      reading_time: article.reading_time_minutes,
      label_size: 'label--small',
      meta_gap: 'gap--small',
      show_author: false,
      show_publish_date: true,
      show_tags: false,
      show_reading_time: false
    %}
      {% endfor %}
    </div>
  </div>
</div>

{% assign top_days = trmnl.plugin_settings.custom_fields_values.top %}
{% case top_days %}
  {% when '1' %}
    {% assign top_label = 'Today' %}
  {% when '7' %}
    {% assign top_label = 'Last 7 Days' %}
  {% when '30' %}
    {% assign top_label = 'Last 30 Days' %}
  {% when '180' %}
    {% assign top_label = 'Last 6 Months' %}
  {% when '365' %}
    {% assign top_label = 'Last Year' %}
  {% when '9999' %}
    {% assign top_label = 'All Time' %}
{% endcase %}

{% render 'devto_footer', tag: trmnl.plugin_settings.custom_fields_values.tag, state: trmnl.plugin_settings.custom_fields_values.state, top_label: top_label %}
