{% assign articles = data | limit: 2 %}

<div class="layout layout--col gap--tiny">
  <span class="title title--tiny">DEV.TO</span>
  
  <div class="divider"></div>
  
  {% for article in articles %}
    {% render 'article_item',
      title: article.title,
      title_size: 'title--tiny',
      title_clamp: '1',
      show_description: false,
      tags: article.tags,
      max_tags: 1,
      label_size: 'label--tiny',
      meta_gap: 'gap--tiny',
      show_author: false,
      show_tags: true,
      show_reading_time: false
    %}
  {% endfor %}
</div>
